<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: header"></head>
<body>
<div th:replace="fragments/navigation :: navigation('index')"></div>
<div class="d-flex flex-column gap-2">
    <h3>Проект job4j_dreamjob, выполняемый в рамках курса</h3>
    <p><a th:href="@{/vacancies}">• Вакансии</a></p>
    <p><a th:href="@{/candidates}">• Кандидаты</a></p>
    <p><a th:href="@{/vacancies/create}">• Создать вакансию</a></p>
    <p><a th:href="@{/candidates/create}">• Создать резюме</a></p>
</div>
<footer th:include="blocks/footer :: footer"></footer>
</body>
</html>
